<div class="contact_container">
    <a href="https://goo.gl/maps/kHjk1UZUquyoXCWD6" target="_blank" class="text-decoration-none">
        <div class="contact_box">

            <div class="contact_icon"><i class="fas fa-map-pin"></i></div>

            <div class="contact_details">
                <h4 class="text-white m-0 p-0">Patras</h4>
            </div>

        </div>
    </a>

    <a href="tel:+30 210 000 000" class="text-decoration-none">
        <div class="contact_box">

            <div class="contact_icon"><i class="fas fa-phone-alt"></i></div>

            <div class="contact_details">
                <h4 class="text-white m-0 p-0">+30 210 000 000</h4>
            </div>

        </div>
    </a>
    <a href="mailto:testmail@upatras.gr" class="text-decoration-none">
        <div class="contact_box">

            <div class="contact_icon"><i class="far fa-envelope"></i></div>

            <div class="contact_details">
                <h4 class="text-white m-0 p-0">testmail@upatras.gr</h4>
            </div>

        </div>
    </a>


</div>
<div class="col-12" style="text-align: center; position:fixed; bottom:2rem;"> &copy; Created by Maria-Nefeli Kokkini and
    Vasilis Saratsis</div>